<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
>
  <coverage/>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/lib/Unit/</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">./tests/lib/Integration/</directory>
    </testsuite>
    <testsuite name="Acceptance">
      <directory suffix="Test.php">./tests/dummy/tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="memory_limit" value="256M"/>
    <env name="APP_KEY" value="base64:BMfTqJC1cFk6A/jTPsjQgC+cROx7TDaEeGIAat6CuqY="/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>